<div class="tpl-bm">
    <button type="button" class="btn btn-primary" ng-click="addDashLine()">dash line</button>
    <button type="button" class="btn btn-primary" ng-click="addSolidLine()">solid line</button>
    <button type="button" class="btn btn-primary" ng-click="addGlowLine()">Glow line</button>
    <button type="button" class="btn btn-primary" ng-click="addArrowLine()">Arrow line</button>
    <button type="button" class="btn btn-primary" ng-click="addBox()">box</button>
    <button type="button" class="btn btn-primary" ng-click="addEllipse()">ellipse</button>
    <button type="button" class="btn btn-primary" ng-click="addRect()">rectangle</button>
    <button type="button" class="btn btn-primary" ng-click="addCylinder()">rectangle</button>
</div>