<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cesium</title>
    <link rel="stylesheet" href="../Cesium-1.57/Build/Cesium/Widgets/widgets.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div id="content">
    <div class="nav" ng-controller="navController">
        <!--<a ui-sref="view1"></a>-->
        <div class="logo">
            <img src="static/images/logo.jpg" alt="logo">
        </div>
        <ul class="nav-item-outer">
            <li ng-repeat="item in navItems">
                <div ng-click="slideLevel2($event, item.id)" ng-class="{'itemHighlight': item.isSubtitleShow}">{{item.title}}</div>
                <ul class="nav-item-inner" ng-show="item.isSubtitleShow">
                    <li ng-repeat="subItem in item.subtitle">
                        <a href="">{{subItem}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mainContent" ng-controller="mainController">
        <!--<a ui-sref="view2"></a>-->
        <div id="cesiumContainer"></div>
    </div>
</div>
<script src="static/lib/require/require.min.js" data-main="static/js/require.config.js"></script>
</body>
</html>